a {
    color: #ffffff;
}

.calendar-day {
    /* color: #2a8aba; */
}

.datagrid-pager .l-btn-plain, .datagrid-pager .l-btn {
    border: 0px;
}

.datagrid-pager .l-btn-plain:hover {
    padding: 0px; 
}

.dislpayArrow .collapse {
  background:url(../../images/Blue/collapse-arrow.png) no-repeat -1px 0;
  background-size:18px 60px;
}

.dislpayArrow .expand {
  background:url(../../images/Blue/expand-arrow.png) no-repeat 0 0;
  background-size:18px 60px;
}

.tree-node .fa {
    font-size: 14px;
}

#index_tabs .tabs-panels{
    border-width: 1px 0 0 1px;
    border-top-color: #2a8aba;
    border-left:1px solid #ccc;
}

.tabs-panels{
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}
.tabs-title{
	font-size: 13px;
}

#index_tabs .tabs li a.tabs-inner:hover {
    background: #42a5d6;
    color: #ffffff;
    filter: none;
    border: 1px solid #42a5d6;
}
/* .datebox-button a {
    background: #000;
} */
.banner {
	color: #fff;
}

.window .window-header .panel-icon {
	color: #fff;
}

.window-proxy-mask, .window-mask {
	background: #D6D6D6;
}

.bannerMenu {
	color: #fff;
}

.datagrid-row {
    height: 35px;
}
#index_tabs .tabs-header{
	background-color: #f0fbff;	
}

.tabs-icon{
	font-size:15px;
}

.nav_bar {
    color: #333;
}
.nav .sub li a i {
    color: #fff;
}

.nav .s {
    color: #D4D4D4;
}

.nav .sub, ul.sub {
    border: 1px solid #cbc7bd;
    background: #ffffff;
    border-top: 3px solid #3c3c3c;
}

.nav .sub li a {
    border-bottom: 1px solid #2a8aba;
    color: #666;
}

.sub {
    background: #f5f5f5;
}

/* .panel-body .panel-body a {
	background-color: #fff;
	color: #000;
} */

.head-title{
	color: #3c3c3c; 
}

/* .accordion {
    background: #e9f2f7;
} */

.sub li:hover {
    background: #f3f3f3;
}

.sub li a {
    color: #000;
}

.menucss{
	color:#ffffff !important;
}

/* .panel-body {
    background-color: #212d39;
}
 */
.datagrid .datagrid-toolbar, .datagrid .datagrid-pager {
    background: #1e2833;
}

#accor {
    border-right: 1px solid #cac7bb;
}

#index_tabs{
	width:100%;
	height:100%;
	padding-left: 16px;
	background: #f0fbff;
}

/* .layout-expand {
    background-color: #e9f2f7;
} */

#index_tabs .tabs li.tabs-selected a:hover.tabs-close{
	background-color: #ffffff;
}

.tabs-p-tool a:hover,
#index_tabs .tabs li a:hover.tabs-close,
.tabs-scroller-over {
    background-color: #42a5d6;
    opacity: 0.8;
}

.menu-active{
	background-color: #2a8aba !important;
	border-color: #2a8aba !important;
}

#index_tabs .tabs-tool table td a {
    margin-left: 4px;
	background: #2a8aba;
	color: white;
	border-color:#2a8aba;
	padding: 1px 2px 1px 3px;
}

#index_tabs .tabs-tool table{
	background: #f0fbff;
}

/* .card > .panel-heading {
	background-color: #e9f2f7c2;
    border-bottom: 3px double #ccc;
} */
.table-data-table{
	font-size: 13px;
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #cad9ea;
    color: white;
    width: 90%;
} 

.table-data-table th { 
	background-repeat:repeat-x; 
} 

.table-data-table td,.table-data-table th{ 
	border:1px solid #2a8aba; 
	padding:0 1em 0; 
} 

.echarts-dataview {
    background-color: #00354f !important;
}

.echarts-dataview button{
    color: #fafafa;
    background: url(../../js/easyui/themes/ui-dark-hive/images/button.png) #081a30 no-repeat center center;
    background-size: 100% 100%;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 28px;
    width: 60px;
    right: 60px;
    position: absolute;
}

.echarts-dataview button:hover {
  background: #18b3d8;
  color: #fafafa;
  border: 1px solid #081a30;
  filter: none;
}

.echarts-dataview p{
	padding: 8px 0 8px 15px !important;
    color: aqua;
    font-size: 15px;
    border-bottom-color: #005e8a!important;
}

/* monitor.jsp */
.alarmBar {
    background-color: rgba(42,138,186,0.8);
}

.newsBox {
    padding: 1px 3px 3px 3px;
    background-color: rgba(42,138,186,0.8);
}

.rightMenuItem a {
    background-color: rgb(8, 26, 48);
}
.rightMenuItem a:hover{
   background-color: #2a8aba; 		/*rgba(42,138,186,0.5);*/
}
.rightMenuItem a.selected{
   background-color: #2a8aba;		/*rgba(42,138,186,0.5);*/
}

.deviceFilter {
    background: #2a8aba;
}

.als-item-selected,#plantable td,#plantable th {
    border: 1px solid #2a8aba;
}

.als-prev, .als-next, .als-up, .als-down{
    background-image: url(../../images/Blue/control.png);
}

.smallbutton
{
	border: 1px solid #2a8aba;
    background: #2a8aba;
    color: #fdfdfd !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.alarmTitle .smallbutton{
	background: border-box;
	border: 0px;
}
.devicespan{
    color: #2a8aba;
}

.runningtime .timenumber{
    color: #2a8aba;
}

.pop-header {
    background-color: #2a8aba;
}
/* monitor.jsp */

/* editcustomerfile */

.textbox-invalid{
	border-color: #2a8aba;
}
.validatebox-invalid { 
    background-color: #f0fbff;
}

/* .button-default {
    background-color: #2a8aba !important;
} */

/* .button-default:hover, .l-btn:hover{ 
	background-color:#42a5d6!important;
} */
/* .l-btn:hover{ 
	border-color:#42a5d6!important;
} */

button {
	background-color: #42a5d6;
}

.tipOptions{
	color: #fff;
	border: none;
	background-color: #2a8aba;
}

.textbox-invalid {
  border-color: #2a8aba;
}

.textbox-invalid.textbox-focused {
	border-color: #2a8aba;
	box-shadow: 0 0 3px #42a5d6;
}

/* editcustomerfile */

/* file manage */

/* #clearall, #search {
    background: #2a8aba;
    color: #ffffff;
    border: 1px solid #2a8aba;
} */

/* #clearall:hover,#search:hover {
	background: #42a5d6;
} */

#menuTab .layout-split-south {
    border-top: 2px solid #88c4f9 !important;
}

/* file manage */

/* .datagrid-body td a, .datagrid-row-selected a {
    color: #2a8aba !important;
} */

/* .window .window-header {
    border-color: #2a8aba;
    background: #2a8aba;
} */

/* .window .window-header, .window-thinborder .window-header {
	padding: 9px 0px;
} */

.window {
    border: 0px;
    padding: 0px;
}

.window .window-header .panel-title {
    color: #fff;
}

.button-warning, .color-warning, .progressbar-warning .progressbar-value .progressbar-text {
    background-color: #2a8aba !important;
}

border-top: 1px solid #bcbcbc;
    border-bottom: 0px;

/* pagination */
.pagination-first, .pagination-prev, .pagination-next, .pagination-last, .pagination-load {
    background-image: url(../../images/Blue/pagination_icons.png);
}

/* curve */

/* .linkbutton {
    background: #2a8aba;
    color: #ffffff !important;
    border: 1px solid #2a8aba;
} */

/* .linkbutton:hover{
	background: #42a5d6;
} */

.detailviewborder{
	border:1px solid #2a8aba !important;
}

/* curve */

/* inspection */

.easyui-textbox {
    border: 1px solid #2a8aba;
}

/* inspection */

/* menu */

.liHov{ border: 1px solid #0fdbff;}

/* menu */

/* SimulationPreparation.jsp */

.sresult-title{
	background-color: #081a30;
}

/* SimulationPreparation.jsp */

.alarmTitle {
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-color: rgba(42,138,186,0.8);
}