<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ssm.wssmb.mapper.BusMessagepushrecordMapper">
	<resultMap id="BaseResultMap"
		type="com.ssm.wssmb.model.BusMessagepushrecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="measureAddress" property="measureaddress"
			jdbcType="VARCHAR" />
		<result column="equipmentAddress" property="equipmentaddress"
			jdbcType="VARCHAR" />
		<result column="systemType" property="systemtype"
			jdbcType="INTEGER" />
		<result column="msgTypeCode" property="msgtypecode"
			jdbcType="INTEGER" />
		<result column="cumulativeNumber" property="cumulativenum"
			jdbcType="INTEGER" />
		<result column="occurTime" property="occurtime"
			jdbcType="TIMESTAMP" />
		<result column="lowerValue" property="lowervalue"
			jdbcType="VARCHAR" />
		<result column="delayTime" property="delaytime"
			jdbcType="INTEGER" />
		<result column="befupDateNum" property="befupdatenum"
			jdbcType="VARCHAR" />
		<result column="afupDateNum" property="aftupdatenum"
			jdbcType="VARCHAR" />
		<result column="insertionTime" property="inserttime"
			jdbcType="TIMESTAMP" />
		<result column="terminalname" property="terminalname"
			jdbcType="VARCHAR" />
		<result column="DETAILNAME" property="DETAILNAME"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="measurename" property="measurename"
			jdbcType="VARCHAR" />
		<result column="installationLocation"
			property="installationLocation" jdbcType="VARCHAR" />


	</resultMap>
	<select id="queryMessage" resultMap="BaseResultMap">
		SELECT * FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT
		ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
		order by g.id asc
		limit
		#{startindex,jdbcType=INTEGER},#{endindex,jdbcType=INTEGER}
	</select>

	<select id="queryMessageCount" resultType="java.lang.Integer">
		SELECT count(0) FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT
		ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
	</select>

	<select id="selectTerminalMessage" resultMap="BaseResultMap">
		SELECT * FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		and t.terminalId=#{id,jdbcType=INTEGER})g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
		order by g.id asc
		limit
		#{startindex,jdbcType=INTEGER},#{endindex,jdbcType=INTEGER}
	</select>

	<select id="selectByTerminalMessageCount"
		resultType="java.lang.Integer">
		SELECT count(0) FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		and t.terminalId=#{id,jdbcType=INTEGER})g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
	</select>
	
	<select id="selectAmmeterMessage" resultMap="BaseResultMap">
		SELECT * FROM (SELECT ms.*,m.*,t.ammeterName as terminalName,t.ammeterCode AS
		equipaddress,t.installAddress as installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_ammeter t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.ammeterCode
		AND t.boxCode=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		and t.id=#{id,jdbcType=INTEGER})g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
		order by g.id asc
		limit
		#{startindex,jdbcType=INTEGER},#{endindex,jdbcType=INTEGER}
	</select>

	<select id="selectByAmmeterMessageCount"
		resultType="java.lang.Integer">
		SELECT count(0) FROM (SELECT ms.*,m.*,t.ammeterName,t.ammeterCode AS
		equipaddress,t.installAddress,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_ammeter t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.ammeterCode
		AND t.boxCode=m.MeasureId
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		and t.id=#{id,jdbcType=INTEGER})g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
	</select>

	<select id="selectEquipmentMessage" resultMap="BaseResultMap">
		SELECT * FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		${terdition}
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT
		ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND
		${amdition}
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
		order by g.id asc
		limit
		#{startindex,jdbcType=INTEGER},#{endindex,jdbcType=INTEGER}
	</select>

	<select id="selectByEquipmentMessageCount"
		resultType="java.lang.Integer">
		SELECT count(0) FROM (SELECT ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		${terdition}
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT
		ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a)
		LEFT JOIN
		SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND
		${amdition}
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
	</select>

	<select id="selectRegionMessage" resultMap="BaseResultMap">
		SELECT * FROM (SELECT gg.id as reig,ms.*,m.*,t.terminalName,t.address
		AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t,(SELECT id
		FROM view_regiontree WHERE
		id=#{id,jdbcType=INTEGER} OR
		pid=#{id,jdbcType=INTEGER} OR
		p2id=#{id,jdbcType=INTEGER} OR
		p3id=#{id,jdbcType=INTEGER} OR
		p4id=#{id,jdbcType=INTEGER}) gg)
		LEFT
		JOIN SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		m.Region=gg.id
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT gg.id as
		reig,ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a,(SELECT
		id FROM view_regiontree WHERE
		id=#{id,jdbcType=INTEGER} OR
		pid=#{id,jdbcType=INTEGER} OR
		p2id=#{id,jdbcType=INTEGER} OR
		p3id=#{id,jdbcType=INTEGER} OR
		p4id=#{id,jdbcType=INTEGER}) gg)
		LEFT
		JOIN SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND
		m.Region=gg.id
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
		order by g.id asc
		limit
		#{startindex,jdbcType=INTEGER},#{endindex,jdbcType=INTEGER}
	</select>

	<select id="selectByRegionMessageCount"
		resultType="java.lang.Integer">
		SELECT count(0) FROM (SELECT gg.id as
		reig,ms.*,m.*,t.terminalName,t.address AS
		equipaddress,t.installationLocation,cd.DETAILNAME
		FROM
		(bus_messagepushrecord ms,mb_measurefile m,mb_terminal t,(SELECT id
		FROM view_regiontree WHERE
		id=#{id,jdbcType=INTEGER} OR
		pid=#{id,jdbcType=INTEGER} OR
		p2id=#{id,jdbcType=INTEGER} OR
		p3id=#{id,jdbcType=INTEGER} OR
		p4id=#{id,jdbcType=INTEGER}) gg)
		LEFT
		JOIN SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=t.address
		AND t.measureId=m.MeasureId
		AND
		m.Region=gg.id
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1
		UNION
		SELECT gg.id as
		reig,ms.*,m.*,a.ammeterName,a.ammeterCode,a.installAddress,cd.DETAILNAME
		FROM (bus_messagepushrecord ms,mb_measurefile m,mb_ammeter a,(SELECT
		id FROM view_regiontree WHERE
		id=#{id,jdbcType=INTEGER} OR
		pid=#{id,jdbcType=INTEGER} OR
		p2id=#{id,jdbcType=INTEGER} OR
		p3id=#{id,jdbcType=INTEGER} OR
		p4id=#{id,jdbcType=INTEGER}) gg)
		LEFT
		JOIN SYS_CONSTANTDETAIL cd ON ms.msgtypecode=cd.DETAILVALUE AND
		cd.CODING=1120
		WHERE
		ms.measureAddress=m.MeasureNumber AND
		ms.equipmentAddress=a.ammeterCode
		AND a.boxCode=m.MeasureId
		AND m.Region=gg.id
		AND
		IS_PARENT_ORGANIZATION(m.OrganizationId,#{organizationId,jdbcType=INTEGER})=1)g
		where 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND date_format(g.insertionTime,'%Y-%m-%d %H:%i:%s') BETWEEN
			#{startTime,jdbcType=VARCHAR}
			and #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="msgtypecode != null and msgtypecode != ''">
			and cast(g.msgtypecode as SIGNED ) =
			#{msgtypecode,jdbcType=INTEGER}
		</if>
		<if test="equipmentname != null and equipmentname != ''">
			and g.terminalName like
			concat(concat('%',#{equipmentname,jdbcType=VARCHAR}),'%')
		</if>
		<if test="equipmentaddress != null and equipmentaddress != ''">
			and g.equipmentAddress like
			concat(concat('%',#{address,jdbcType=VARCHAR}),'%')
		</if>
	</select>
</mapper>